/* Estructura principal */

.tarea-formulario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarea-input {
    width: 400px;
    font-size: 18px;
    font-family: poppins,Arial, Helvetica, sans-serif;
    font-weight: 200;
    background-color: #ffebeb;
    padding: 14px 32px 14px 16px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    outline: none;
}

